<!-- about.html -->
{% extends 'index.html' %}

{% block content %}
<style>
    .content {
        margin-top: 0px;  /* Adjust the value as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(30vh - 100px);  /* Adjust the value as needed */
    }

    .form-container {
        text-align: center;
    }
</style>

<div class="form-container">
    <h2>About Creators</h2>
    <p>Add information about the creators here.</p>
</div>
{% endblock %}
